:root{
  --navcolor: #2a52be;
  --headercolor: #2a52be;
  --navtext: white;
  --bodytext: black;
}

*{
  margin: 0;
  padding: 0;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

/*NAV*/
nav {
  height: 100px;
  background: var(--navcolor);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0rem 8rem;

}
.nav__logo{
  color: var(--navtext);
  font-size: 3rem;
  font-weight: bold;
  padding: 0 2rem;
}
nav a{
  text-decoration: none;
  color: var(--navtext);
  padding: 0 1.5rem;
}
.nav__menu{
  font-size: 1.5rem;
}

nav a:hover{
  color: #CDCDCD;
}

/*GRID*/

.wrapper{
  display: grid;
  grid-template-columns: 30vw 30vw;
  justify-content: center;
  grid-auto-flow: dense;
}


.header{
  color: var(--headercolor);
  font-size: 4rem;
  text-align: center;
  padding: 1rem 0.5rem;
}
.body_text{
  color: var(--bodytext);
  font-size: 1.25rem;
  line-height:1.25;
  padding: 0.5rem 1rem;

}

.twocolumns{
  grid-column: span 2;
}

#home{
  padding: 15vw 0;
}

.top{
  padding: 5vw 0;
}

.center{
  text-align: center;
}

h2{
  color: black;
  font-size: 2.5rem;
  padding: 1rem 0rem
}

.university, .workplace{
  color: black;
  font-size: 2.5rem;
  font-weight: bold;
}

h3{
  color: lightslategray;
  font-size: 2rem;
}
.degree, .jobtitle{
  color:lightslategray;
  font-size: 2rem;
  font-style: italic;
}

.dates{
  font-size: 1rem;
  color: black;
  font-style: italic;
  padding: 0 0 0.5rem 0;
}

.resume__button, .button_container{
  text-align: center;
  padding: 1rem

}

.button{
  background-color: #2a52be;
  color: white;
  border: none;
  border-radius: 0.5rem;
  padding: 0.5rem 0.5rem;
  text-decoration: none;

}

.list{
  padding: 0rem 1rem;
  line-height: 2.0;
  font-size: 1.25rem;
}


